# URL-Unshortener Configuration File
# WARNING: This file contains passwords. Be sure to take appropriate precautions
#          (e.g. Add to .gitignore or .hgignore and ensure only bot user has
#          access)

# Reddit Configuration
# user_agent: User agent reported by praw (username is recommended unless you
#             know what you are doing. See: https://github.com/reddit/reddit/wiki/API)
# username: Reddit username to use
# password: Reddit password to use
# app_id: Your Reddit Client ID
# app_secret: Your Reddit Client Secret
# owner_username: Your main account's username

[reddit] # DO NOT PUBLISH YOUR REAL CREDENTIALS. USE AN EXAMPLE-.cfg LIKE THIS ONE WHEN PUBLISHING TO GITHUB OR SIMILAR.
user_agent = reddit_username
username = reddit_username
password = reddit_password
app_id = reddit_clientID
app_secret = reddit_clientSecret
owner_username = your_username

# Bot Configuration
# max_commentlength: Max. size of scanned comments. Any comment above this number is ignored.
#                    User-Posts containing URLs usually average around 600 characters. Most Posts between 600 and 1500 are bots.
#                    This number should not exceed 1500 because of performance reasons.
# url_regex_pattern_ignorehttps: (DONT CHANGE THIS IF YOU DON'T KNOW WHAT YOURE DOING) RegEx pattern that is used to match relevant urls.
# scan_subreddit: This is the sub or list of subs to scan for new posts. To scan all posts use "all". For a single sub, use "sub1". For multiple subreddits, use "sub1+sub2+sub3+..."

[urlunshortener]
max_commentlength = 800
scan_subreddit = all
url_regex_pattern_ignorehttps = \.[a-zA-Z]{2,4}\/[a-zA-Z0-9-_\/?\.=]+