# URL-Unshortener Configuration File
# WARNING: This file contains passwords. Be sure to take appropriate precautions
#          (e.g. Add to .gitignore or .hgignore and ensure only bot user has
#          access)

# REDDIT CONFIGURATION
# user_agent: User agent reported by praw (username is recommended unless you
#             know what you are doing. See: https://github.com/reddit/reddit/wiki/API)
# username: Reddit username to use
# password: Reddit password to use
# app_id: Your Reddit Client ID
# app_secret: Your Reddit Client Secret
# owner_username: Your main account's username
[reddit] # CAUTION: DO NOT PUBLISH your real credentials. Use an example .cfg like this one when publishing to github or similar!
user_agent = reddit_username
username = reddit_username
password = reddit_password
app_id = reddit_clientID
app_secret = reddit_clientSecret
owner_username = your_username

# API CREDENTIALS
# wot_apikey: apikey for mywot.com (web of trust api)
[api] # CAUTION: DO NOT PUBLISH your real credentials. Use an example .cfg like this one when publishing to github or similar!
wot_apikey = your_wot_apikey

# BOT CONFIGURATION
# max_commentlength: Max. size of scanned comments. Any comment above this number is ignored.
#                    User-Posts containing URLs usually average around 600 characters. Most Posts between 600 and 1500 are bots.
#                    This number should not exceed 1500 because of performance reasons.
# scan_subreddit: This is the sub or list of subs to scan for new posts. To scan all posts use "all". For a single sub, use "sub1". For multiple subreddits, use "sub1+sub2+sub3+..."
# [EXPERT] firstpass_url_regex_pattern: RegEx pattern that is used in the first-pass-thread.
# [EXPERT] secondpass_url_regex_pattern: RegEx pattern that is used in the second-pass-thread
# [EXPERT] thirdpass_url_regex_pattern: RegEx pattern that is used in the third-pass-thread
# shorturlserviceslist_path: Path to a list of short-url-services. (For a curated list go to https://github.com/sambokai/ShortURL-Services-List)
# blacklist_domains: shorturl links are ignored if any of these words is found in them. separate with a comma [","]
[urlunshortener]
max_commentlength = 1500
scan_subreddit = all
firstpass_url_regex_pattern = \.[a-zA-Z]{2,4}\/[a-zA-Z0-9-_\/?\.=]+
secondpass_url_regex_pattern = (?:(?:https?:\/\/)|(?:www\.)|\b)[a-zA-Z0-9-]{1,11}\.[a-zA-Z]{2,4}\/[a-zA-Z0-9-_\/?\.=]+\b
thirdpass_url_regex_pattern = (?:(?:https?:\/\/)|(?:www\.)|\b)[a-zA-Z0-9-]{1,11}\.[a-zA-Z]{2,4}\/[a-zA-Z0-9-_\/?\.=]+\b
shorturlserviceslist_path = shorturl-services-list.txt
blacklist_domains = goo.gl/maps/, goo.gl/photos/, goo.gl/forms/

# TEXT STRINGS USED IN BOT-REPLIES.
# INFO: Multiline text has to be indented.
# Example:
# example_key = CORRECT_example_value_line_1
#               CORRECT_example_value_line_2
# WRONG_example_value_line_3
#
# reply_footer: Appended to every bot-reply as a signature. Used for bug-report, feature-suggestion, github-link, etc.
[replytexts]
reply_header = I found {urlcount} short URL(s) in your comment.

               &nbsp;

reply_link =
             > Link #{linknumber}:

             > Short: {shorturl}

             > Full: {fullurl}

             > Trustworthiness: {trust}/100 Child safety: {child}/100

             &nbsp;

reply_footer =

               ^^Safety ^^ratings ^^provided ^^by [^^Web ^^of ^^Trust](https://www.mywot.com)
               *****
               ^Please ^don't ^be ^too ^harsh. ^I'm ^just ^a ^bot.
               ^| [^Source ^Code](https://github.com/sambokai/URL_Unshortener)
               ^| [^Report ^Bug](https://www.reddit.com/message/compose?to=URL-Unshortener&subject=Report%%20Bug&message=Please%%20describe%%20the%%20bug%%20here.%%20Thank%%20you%%20very%%20much!)
               ^| [^Suggest ^Feature](https://www.reddit.com/message/compose?to=URL-Unshortener&subject=Feature%%20Suggestion&message=Please%%20describe%%20your%%20suggestion%%20here.%%20Thank%%20you%%20very%%20much!)

# LOGGER CONFIGURATION
# eventlevel_threshold: Set which events are logged (console & file). Logging messages which are less severe than this
#                       this setting will be ignored. List of logging levels (from low to high severity):
#                       ["DEBUG", "INFO", "WARNING", "ERROR", "CRITICAL"] Set this to "INFO" if you are unsure.
# logfile_directory_path: The directory in which the logfiles will be saved.
[logger]
eventlevel_threshold = debug
logfile_directory_path = logfiles/

